.topnav a {
    float: left;
    display: block;
    color: mediumslateblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}


.topnav a:hover {
    background-color:mediumslateblue;
    color: black;
}


.tabs li {
  display: inline;
  <font color='midnightblue'>padding-right: 50px;</font>
	
}


.tabs li > input{
	display:none;
}

.tabs li > label {
	display.inline-block;
		border:1px solid #009;
	border-right-width:7;
	border-bottom-width:0;
	height:30px;
	line-height:30px;
	padding:10px 30px;
	cursor:pointer;
	border-radius:8px;
		color: black;
	border-bottom:5px solid #B0252700000;
	border-top:5px solid #E1212500000;
}

.tabs li:last-child > label{
	border-right-width:1px;
	  
}

.tabs .tab-content{
	display:none;
	position:absolute;
	text-align: justify;
	margin-left: 5cm;
	margin-right: 5cm;
	
}


.tabs li> input:checked + label {
	background-color:midnightblue;
}
	
.tabs li > input:checked ~ .tab-content {
	display:block;
}	

.img-circle {
    border-radius: 60%;
}


